.ratings {
    height: 100%;
    width: 50%;
    position: absolute; 
    justify-content: center;
    left: 50%;
    top: 50%;
}

.ratings button {
    padding: 12px 16px;
    background-color: pink;
    color: white;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 16px;
}

.ratings button:hover {
    background-color: #e3acb6;
    color: white;
}

.container {
    height: 100%;
    width: 50%;
    position: absolute; 
    display: flex;
    justify-content: center;
}
img {
    width: 50%;
    height: auto;
    border-radius: 16px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 25%;

}

@media screen and (max-width: 1200px) {
    .container {
        height: 75vh;
        width: 100vw;
        position: relative;
    }

    img {
        width: auto;
        height: 75%;
        transform: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .ratings {
        height: 25vh;
        width: 100vw;
        position: relative; 
        justify-content: center;
        left: 0;
        top: 75%;
        text-align: center;
    }
}