{% extends "layout.html" %}

{% block title %}
    webapp
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/sytlesheets/webapp.css">
{% endblock %}

{% block content %}
    <div class="swiping">
        <a href="swiping.html">
            <button>go back to swiping</button>
        </a>
    </div>
    <div class="filters">
        <button>show all</button>
        <button>dresses</button>
        <button>shirts</button>
        <button>skirts</button>
        <button>pants</button>
        <button>shoes</button>
    </div>
    <div class="img_container">
        <img src="/static/images/image1.jpg">
        <img src="/static/images/image2.jpg">
        <img src="/static/images/image3.jpg">
        <img src="/static/images/image4.jpg">
        <img src="/static/images/image5.jpg">
        <img src="/static/images/image6.jpg">
        <img src="/static/images/image7.jpg">
        <img src="/static/images/image8.jpg">
        <img src="/static/images/image9.jpg">
        <img src="/static/images/image10.jpg">
        <img src="/static/images/image11.jpg">
        <img src="/static/images/image12.jpg">
    </div>
{% endblock %}