<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Chatbot | My Sustainable Closet</title>
    <link rel="stylesheet" href="/static/stylesheets/webapp.css">
    <link rel="icon" type="image/x-icon" href="/static/images/logo1.png">
</head>
<body>
    <div class="nav">
        <a href="/about">About</a>
        <a href="/"><img src="/static/images/icon2.png" class="icon"></a>
        <a href="/chatbot"><img src="/static/images/icon1.png" class="icon"></a>
    </div>
    <div class="content">
        <div class="textbox">
            <input type = “text”>
        </div>
    </div>
</body>
   