{% extends "layout.html" %}

{% block title %}
    Impact
{% endblock %}

{% block content %}
<h1>The Impact of Fast Fashion</h1>
    <h2>What is fast fashion?</h2>
        <p>
            Have you ever been to H&M, picked out a cute and trendy shirt, and thought, “How could this be only $10?”. The
            answer can be described in two simple words, but these two words do not begin to describe its heinous effects on our
            planet. Fast fashion is a practice that involves rapid production processes to stay up-to-date with current trends and to
            produce cheap clothing. 
        </p>

        <h2>Why should you care about fast fashion?</h2>
        <h3>Fast fashion is incredibly harmful for our planet.</h3>
        <p>
            In fact, fast fashion is responsible for about 10% of global carbon emissions.
            To paint the picture of how much that really is, fast fashion produces over 4B tonnes,
            or <b>4,000,000,000 tonnes</b>, of carbon emissions. This is higher than the combined amount of
            emissions that come from international flights and maritime shipping.
        </p>
        <p>
            There are also a ton of other factors that make fast fashion incredibly harmful for our environment. 
            A couple are discussed on this page. 
        </p>
        <ol>
            <li> 
                Deadstock and Overproduction
                <p>Fast fashion companies often try to stay on trend as much as possible. To achieve this, many companies
                    stock up on fabric in order to respond quickly to fashion trends. However, trends can die very quickly,
                    so companies are often left with items that are not in demand and therefore can't be sold, which is deadstock.
                    In fact, about 40% of clothing garments produced each year are not sold, and about 87% of textiles, which are
                    used to make clothing, end up in the landfill. 
                </p>
            </li>
            <li>
                Textiles and Energy Intensive Production
                <p>
                    Additionally, textiles that are used in the fast fashion industry are often made of synthetic fibers, such as
                    polyester, acrylic, and nylon. These are all man-made and are made from chemical processes. The compounds that
                    are used in these chemical processes are often petrochemicals, or petroleum-based chemicals. Here are the steps
                    that illustrate how petrochemicals make synthetic fiber, specifically polyester.
                    <ol>
                        <li>
                            The petrochemicals used for this process are ethylene glycol and terephthalic acid, which are extracted
                            from petroleum. 
                        </li>
                        <li>
                            These small molecules, or monomors, react with each other at high temperatures and pressure to form polymers.
                        </li>
                        <li>
                            The molten polyester is spun into fibers, which are then used to produce fabric. 
                        </li>
                    </ol>
                </p>
                <p>
                    Now that you've grasped an idea of how petrochemicals produce synthetic fibers, let's talk a little more about
                    how petrochemicals are obtained. These chemicals are often separated by petroleum, a fossil fuel found underground. 
                    Petroleum was formed millions of years ago when plants and animals died and sank to the bottom of the ocean. 
                    The organic material from the animals and plants turned into crude/petroleum oil gradually over time from pressure
                    and heat. Because petroleum oil was formed millions of years ago and would take a really long time to reform,
                    it is a non-renewable source. This means that it cannot be produced after being used, so it will eventually run out.
                </p>
                <p>
                    Even worse, the process of obtaining petrochemicals through petroleum is a very energy-intensive process, meaning it
                    uses a lot of energy to produce petrochemicals. Fossil fuels take a lot of energy to process and refine before being
                    used to produce petrochemicals. It also takes a lot of energy to crack hydrocarbon chains and refine them
                    into short-chain hydrocarbons, which are the petrochemicals used for fuel. This process is known as steam cracking
                    and works at a temperature between 800° and 870°C. As you can tell, that is a very high temperature that requires a lot of
                    energy to reach.
                </p>
            </li>
            <li>
                Microplastics
                <p>
                    Microplastics are tiny pieces of plastic that are less than 5 millimeters in diameter. They are harmful for the
                    environment because of several reasons:
                </p>
                <ol>
                    <li>
                        They can be mistaken as food by animals. Microplastics also can absorb harmful chemicals, and these chemicals are then
                        digested by animals and organisms.
                    </li>
                    <li>
                        The accumulation of microplastics in the human body can lead to cell death, an increased chance of cancer, respiratory
                        issues, etc.
                    </li>
                    <li>
                        Microplastics can polute our oceans, soil, and the air we breathe. 
                    </li>
                </ol>
                <p>
                    Textiles do not biodegrade and shed microplastics during production and even while being worn. It is estimated that around 16-35% of
                    microplastics released to oceans are from synthetic textiles. 
                </p>
            </li>
            <li>
                The Usage of Viscose
                <p>
                    Viscose is a type of fabric that is commonly used in fast fashion. It is soft like silk but is a cheaper alternative. However,
                    the chemicals that are produced during the production of viscose are harmful to for the environment as well as animals and humans.
                    The chemicals can cause heart problems, cancer, and birth defects. It also contaminates water and can harm sea animals. 
                </p>
            </li>
            <li>
                Excessive Use of Water
                <p>
                    It takes about 713 gallons of water to produce one cotton t-shirt, according to the World Wildlife Fund. In total,
                    the fashion industry uses almost 93 billion cubic meters of water each year. This excessive use of water can harm aquatic
                    life, as well as contribute to water pollution because of chemicals, microplastics, and dyes. 
                </p>  
                <p>
                    To reduce the use of water in the fashion industry, we can support brands that produce clothes from organic cotton,
                    as well as wash our clothes less and reuse water for washing. 
                </p>
            </li>
        </ol>

        <h3>Fast fashion also impacts our people.</h3>
        <p>
            It is not a coincidence that more popular clothing brands have cheaper clothing. The question as to why fast fashion 
            is so cheap can be explained by 
            <a href = "/inequalities">the exploitation of the lower class.</a>
        </p>
        <p>
            To add wound to the salt, most of the workers hired by fast fashion companies are women and girls. This means that 
            the fashion fashion industry not only exploits the lower class, but also practices 
            <a href="/inequalities">gender discrimination</a>. Additionally, fast fashion also impacts consumers who have a low-income.
        </p>
        <p>
            You can explore more in-depth about the effects that fast fashion has on our society by clicking on the hyperlinks of 
            each social inequality.
        </p>
{% endblock %}