<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Closet | My Sustainable Closet</title>
    <link rel="stylesheet" href="/static/stylesheets/webapp.css">
    <link rel="icon" type="image/x-icon" href="/static/images/logo1.png">
</head>
<body>
    <div class="nav">
        <a href="/about">About</a>
        <a href="/"><img src="/static/images/icon2.png" class="icon"></a>
        <a href="/chatbot"><img src="/static/images/icon1.png" class="icon"></a>
    </div>
    <div class="content">
        <h1>My Closet</h1>
        <div class="top_buttons">
            <a href="/swiping">
                <button>Go back to swiping</button>
            </a>
            <a href="/closet">
                <button>Add clothes to your closet</button>
            </a>
        </div>
        <div class="filters">
            <button>Show all</button>
            <button>Dresses</button>
            <button>Shirts</button>
            <button>Skirts</button>
            <button>Pants</button>
            <button>Shoes</button>
        </div>
        <div class="img_container">
            <img class="clothing" src="/static/images/image1.jpg">
            <img class="clothing" src="/static/images/image2.jpg">
            <img class="clothing" src="/static/images/image3.jpg">
            <img class="clothing" src="/static/images/image4.jpg">
            <img class="clothing" src="/static/images/image5.jpg">
            <img class="clothing" src="/static/images/image6.jpg">
            <img class="clothing" src="/static/images/image7.jpg">
            <img class="clothing" src="/static/images/image8.jpg">
            <img class="clothing" src="/static/images/image9.jpg">
            <img class="clothing" src="/static/images/image10.jpg">
            <img class="clothing" src="/static/images/image11.jpg">
            <img class="clothing" src="/static/images/image12.jpg">
        </div>
        <div class="ai_recommendations">
            <h1>Recommendations</h1>
            <div class="img_container">
                <img class="clothing" src="/static/images/image13.jpg">
                <img class="clothing" src="/static/images/image14.jpg">
                <img class="clothing" src="/static/images/image15.jpg">
                <img class="clothing" src="/static/images/image16.jpg">
                <img class="clothing" src="/static/images/image17.jpg">
                <img class="clothing" src="/static/images/image18.jpg">
                <img class="clothing" src="/static/images/image19.jpg">
                <img class="clothing" src="/static/images/image20.jpg">
                <img class="clothing" src="/static/images/image21.jpg">
                <img class="clothing" src="/static/images/image22.jpg">
                <img class="clothing" src="/static/images/image23.jpg">
                <img class="clothing" src="/static/images/image24.jpg">
            </div>
        </div>
        <div class="chatbot">
            <h1>Have any clothes you don't wear?</h1>
            <p>You can speak to an AI chatbot to provide you with some ideas on how you can turn your old pieces of clothing into new and fashionable ones!</p>
            <a href="/chatbot">
                <button>Start new chat with upcycling bot</button>
            </a>
        </div>
    </div>
</body>
   