{% extends "layout.html" %}
{% block title %}
    Inequalities
{% endblock %}

{% block content %}
    <h1>Addressing Social Inequalities</h1>
    <p>
        Here are the social inequalities that are discussed on this page. 
    </p>
    <ol>
        <li>
            <a href = "#exploitation">The Exploitation of the Lower Class</a>
        </li>
        <li>
            <a href="#genderDiscrimination">Gender Discrimination Against Women and Girls</a>
        </li>
        <li>
            <a href="#classism">Addressing Classism</a>
        </li>
    </ol>
    <h2 id="exploitation">The Exploitation of the Lower Class</h2>
        <p>
            Fast fashion brands often sell clothing at a cheap price because they rely on factories in developing countries that pay their workers
            a very small wage. People working in these factories aren't paid enough to afford basic necessities. Work conditions in these factories are
            also very rough, with workers having to work 14-16 hours a day, 7 days a week. Additionally, these workers simply can't just leave. They usually
            don't have any other source of income to rely on and cannot find work anywhere else, so they must withstand the harsh conditions of fast fashion
            factories.
        </p>

    <h2 id="genderDiscrimination">Gender Discrimination Against Women and Girls</h2>
        <p>
            Garment workers of fast fashion factories are more often than not women and girls (which also means fast fashion promotes child labor).
            These workers face gender discrimination. Examples include harrassment, a wage gap, and harsh conditions for mothers. Workers are denied
            permission for maternity leave and have to work long hours for little pay while being pregnant. How will a mother be able to support her child
            and herself if she does not have the time, the money, or nutrition to do so?
        </p>

    <h2 id="classism">Addressing Classism</h2>
        <p>
            For many generations, clothes have been a symbol of one's social status. Someone may be treated differently because of what social status
            their clothes reflect. However, fast fashion gives people of the lower class to wear clothes that are also worn by people of higher social status.
            It is also way easier for someone to find their style and what clothes they like to wear by shopping fast fashion. It often takes a lot of time
            to find clothes that fit AND are of style when thrifting. Families of a lower income have the right to be able to shop sustainably, while also
            feeling confident in their clothes.
        </p>
        <p>
            Thrifting has also become a trend among the higher-income groups, which only further harms the lower class. What once was a way to shop sustainably for
            clothes that are affordable has become gentrified, and leaves families with fast fashion as their only option.
        </p>

    <h2>How does my project address these social inequalities?</h2>
    <p>
        To address classism, my project makes it easy for people of a low-income to find second-hand clothing
        that is not only of their style, but is also affordable. My project also encourages upcycling through
        the Upcycling Chatbot and tailoring one's clothes easier than ever. 
    </p>
    <p>
        My Sustainable Closet aims to reduce the consumption of fast fashion overall. By reducing the consumption of fast fashion,
        brands will be more willing to adapt sustainable practices. Fast fashion brands are able to thrive because of consumers, and without
        any consumers, brands will start to hold themselves accountable. Every purchase matters.
    </p>
{% endblock %}