{% extends "layout.html" %}

{% block title %}
    Process
{% endblock %}

{% block content %}
    <h1>The Process</h1>
        <h2>Before Developing the Project</h2>
            <h3>Why did I choose this topic?</h3>
                <p>
                    Fashion is how practically everyone expresses themselves. Your interests, personalities, and demeanor can be reflected
                    through the way you dress. However, many people do not have enough money to buy clothes that they feel confident in, and as a result
                    feel less confident themselves. Clothes can impact our mood and our relationship with our identity, and everyone deserves the right
                    to feel confident in their own clothes. I have also struggled with feeling comfortable in my clothes and cannot afford the clothes
                    that DO make me feel confident. Therefore, I came up with this idea to assist people who struggle to feel confident about themselves
                    and resort to fast fashion for clothes that do make them feel confident. In short, I want sustainable fashion to be accessible to all.
                </p>
            <h3>Inspiration</h3>
                <p>I am a big Pinterest user, and I always look for outfits on the website. However, I do not have enough money to afford the clothes
                    that I find. I also shop on Depop a lot and always struggle with describing my style and what I want to wear. In a fast fashion store,
                    you don't have to describe what you're looking for because whatever is on the front page or front racks is usually what is in style
                    and in demand. On online thrifting website and thrifting stores, you have to be able to describe what you're looking for to actually
                    find it. Therefore, I came up with this project as a solution to my problems, as well as a solution to fast fashion overall.
                </p>
            <h3>Designing</h3>
                <p>
                    I actually started coding my website before I started designing it, but it was mostly pure HTML. I needed a way to dazzle up my website,
                    so I turned to Figma to brainstorm some ideas of the format of my project before I actually started implementing some CSS. I wasn't used to
                    using Figma, so my designs weren't that great. They gave me a brief idea of what I wanted my project to look like though, so I ran with it. That
                    was until I realized that the one designing program I use for everything, Canva, could be used to design this project! I mostly used it to
                    give visuals of my project on the About page, but also to visualize what I wanted my finalized format to be.
                </p>
        <h2>The Research Process</h2>
            <p>
                I made my website before I actually did the research, but I kept a couple of topics in mind that I wanted to address through my project.
                I did a lot of research regarding the impacts of fast fashion on our environment, as well as our society. I also read articles on
                already existing applications that are combatting fast fashion to gauge what problems are not being addressed, so I could address them in my project.
                Before I actually started doing the research, I made a todo list text file to keep track of the topics that I needed to research and write about. 
                I would check each topic off as I continued my research before eventually checking off the last one.
            </p>
            <p>
                I also made a Google Document with everything that I wanted to research and a couple of questions that I wanted to address on my website. I referenced
                the participant guide a couple of times to see what I should be researching and how I should be coming up with solutions. The Google Document
                has all of the sources I used, answers to the questions I wanted to answer, as well as a draft of how I wanted my project to function. The document
                acted as a second brain for me and kept track of all of my brainstorming.
            </p>

        <h2>The Coding Process</h2>
            <img src="/static/images/process1.png">
            <img src="/static/images/process2.png">
            <p>
                I have only ever coded one other Flask web application, so it was very fun to do it again. I don't have much experience with Flask since this is only
                my second time using it, but I watched some YouTube videos on how to set up my application and how to connect the HTML files with the Python scripts.
                I also had to learn quite a lot of CSS which was a bit difficult for me. I don't usually style my websites because it's a bit confusing, and there's so many
                attributes inside CSS that I have trouble keeping track of. However, I spent a lot of time on the CSS and have gotten the hang of it now that I've finished
                my project. I also learnt some Javascript which I've been meaning to do for a while, so that was fun. I thought Javascript was much more complicated, but
                it's actually pretty simple. I will continue to learn some more Javascript after this project in hopes that I can make functional projects instead of
                drafts.
            </p>

        <h2>Finalizing the Project</h2>
            <p>
                I made sure that my project actually addressed the problems within fast fashion and added some extra sentences explaining how my project
                provides solutions to these problems. I also went through my todo list and checked if anything still needed to be done. Additionally, I had to
                put this website into a Python Anywhere domain in order to turn it in through a link.
            </p>

{% endblock %}

