{% extends "layout.html" %}

{% block title %}
    Reflection
{% endblock %}

{% block content %}
    <h1>Reflection Questions</h1>
    <h2>How does your project use AI to help people with sustainability in a way that hasn't been done before?</h2>
    <p>
        Good On You is a website that gives users the power to check a fashion brand's impact on the environment. My project isn't just a way for
        people to learn about the impacts of their favorite fashion brands, but also provides a way for people to make an impact. Users can easily
        shop for second-hand clothing and are provided with an immediate alternative to fast fashion brands. Another app that is similar to my project is Depop.
        Depop is an online marketplace that lets users sell their second-hand clothing, which promotes reuse and thrifting. My project is similar to Depop, but
        uses AI to make it easier to search for clothes that are fashionable and fit a user's preference. My project also isn't an online marketplace, and instead
        uses data from multiple online marketplaces to provide the user with multiple options across a bunch of sites. My Sustainable Closet is more like an extension
        to Depop, making it easier to users to sustainably shop online. 
    </p>
    <br>

    <h2>Describe a challenge you faced. How did you overcome it? How did you reach out for help?</h2>
    <p>
        I struggled a lot with styling my website using CSS. I don't use CSS very often, and this project probably has the most CSS I've ever written. However,
        I turned to YouTube tutorials and online forums for help. I also used ChatGPT to explain why I couldn't do certain things in my CSS code, such as 
        why I couldn't access specific IDs inside a div. The online tutorials helped a lot and also made me learn about the different ways CSS can be applied.
    </p>
    <br>

    <h2>What did you learn from this process that will impact the way you interact with technology in the future?</h2>
    <p>
        I've always had ideas of how to solve problems, but never got to actually put them into action. Coding and technology gives me the chance to create
        my solutions and bring them to life. I am able to approach coding with the feeling that I am able to create what I want to create. Coding gives me the
        power to make an impact, and this project made me realize how much of an impact I could really make.
    </p>
    <br>

    <h2>Why did you choose this format for your project?</h2>
    <p>
        I chose this format for my project because I wanted to practice coding web applications and challenge myself. I have only really ever made two websites. One of them
        had no CSS involved, and the other was not very functional. I wanted to see if I could make a functional website that is fully developed while also solving a problem
        that I care about.
    </p>
    <p>
        I also wanted to make my project feel real, and like my project could actually be the next solution to fast fashion. A slideshow presents a solution, but
        to me, it does not put the solution into action. I wanted to show that my project is not simply an idea, but a developed solution that could actually be
        put into action with the right tools.
    </p>
{% endblock %}

