{% extends "layout.html" %}
{% block title %}
    Sources | My Sustainable Closet
{% endblock %}

{% block content %}
    <h1>Sources Used</h1>
    <ul>
        <li>
            <a 
            href="https://merage.uci.edu/news/2024/01/How-Reducing-Fashion-Waste-Is-Harder-than-It-Looks.html">
            https://merage.uci.edu/news/2024/01/How-Reducing-Fashion-Waste-Is-Harder-than-It-Looks.html
            </a>
        </li>
        <li>
            <a 
            href="https://fashionchecker.org/about_us.html">
            https://fashionchecker.org/about_us.html
            </a>
        </li>
        <li>
            <a 
            href="https://consciousfashion.co/guides/sustainable-fashion-apps">
            https://consciousfashion.co/guides/sustainable-fashion-apps
            </a>
        </li>
        <li>
            <a 
            href="https://woveninsights.ai/site-blog/is-ai-the-answer-to-fashions-waste-problem/">
            https://woveninsights.ai/site-blog/is-ai-the-answer-to-fashions-waste-problem/
            </a>
        </li>
        <li>
            <a 
            href="https://www.voguebusiness.com/technology/zegna-rolls-out-ai-powered-luxury-clienteling">
            https://www.voguebusiness.com/technology/zegna-rolls-out-ai-powered-luxury-clienteling
            </a>
        </li>
        <li>
            <a 
            href="https://carbontrail.net/blog/how-ai-can-revolutionize-sustainability-of-fashion/">
            https://carbontrail.net/blog/how-ai-can-revolutionize-sustainability-of-fashion/
            </a>
        </li>
        <li>
            <a 
            href="https://www.hawthornintl.com/impact-of-fast-fashion">
            https://www.hawthornintl.com/impact-of-fast-fashion
            </a>
        </li>
        <li>
            <a 
            href="https://www.greenpeace.org/international/story/62308/how-fast-fashion-fuels-climate-change-plastic-pollution-and-violence/">
            https://www.greenpeace.org/international/story/62308/how-fast-fashion-fuels-climate-change-plastic-pollution-and-violence/
            </a>
        </li>
        <li>
            <a href="https://one.oecd.org/document/SDD/DOC(2023)4/en/pd">
            https://one.oecd.org/document/SDD/DOC(2023)4/en/pd
            </a>
        </li>
        <li>
            <a href="https://www.momscleanairforce.org/resources/plastics-and-our-health/">
            https://www.momscleanairforce.org/resources/plastics-and-our-health/
            </a>
        </li>
        <li>
            <a href="https://www.earthday.org/beneath-the-seams-the-human-toll-of-fast-fashion/">
            https://www.earthday.org/beneath-the-seams-the-human-toll-of-fast-fashion/
            </a>
        </li>
        <li>
            <a href="https://reearthin.org/opeds/injustices-caused-by-fast-fashion
            ">
            https://reearthin.org/opeds/injustices-caused-by-fast-fashion
            </a>
        </li>
        <li>
            <a href="https://earthjustice.org/feature/petrochemicals-explainer">
            https://earthjustice.org/feature/petrochemicals-explainer
            </a>
        </li>
        <li>
            <a href="https://www.energy.gov/eere/iedo/chemical-and-petrochemical-manufacturing">
                https://www.energy.gov/eere/iedo/chemical-and-petrochemical-manufacturing
            </a>
        </li>
        <li>
            <a href="https://www.linde-engineering.com/products-and-services/process-plants/sustainable-hydrocarbon-solutions/steam-cracking-technology">
                https://www.linde-engineering.com/products-and-services/process-plants/sustainable-hydrocarbon-solutions/steam-cracking-technology
            </a>
        </li>
        <li>
            <a href="https://mansfield.energy/2024/06/19/whats-that-petroleum-cracking/">
                https://mansfield.energy/2024/06/19/whats-that-petroleum-cracking/
            </a>
        </li>
        <li>
            <a href="https://econreview.studentorg.berkeley.edu/rise-of-thrifting-solution-to-fast-fashion-or-stealing-from-the-poor/">
                https://econreview.studentorg.berkeley.edu/rise-of-thrifting-solution-to-fast-fashion-or-stealing-from-the-poor/
            </a>
        </li>
        <li>
            <a href="https://www.uniformmarket.com/statistics/fast-fashion-statistics">
                https://www.uniformmarket.com/statistics/fast-fashion-statistics
            </a>
        </li>
    </ul>
{% endblock %}