<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Swiping | My Sustainable Closet</title>
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <link rel="stylesheet" href="/static/stylesheets/swiping.css">
    <link rel="icon" type="image/x-icon" href="/static/images/logo1.png">
</head>
    <div class="topnav">
        <a href="/">Back to Closet</a>
    </div>
    <div class="container">
        <img src="/static/images/image10.jpg">
    </div>
    <form method="POST">
        <div class="ratings">
            <button type ="submit" name="submitButton" value="dontLike">I don't like it.</button>
            <button type ="submit" name="submitButton" value="notSure">I'm not sure.</button>
            <button type ="submit" name="submitButton" value="like">I like it!</button>
        </div>
    </form>